
    <!-- Paises -->
    <section id="listado-paises">
        <div class="grid grid-cols-2 gap-4">

            <!-- Titulo -->
            <div>
                <h3 class="text-2xl font-semibold mb-4">Listado de Países</h3>
            </div>

            <!-- Campo de búsqueda -->
            <div>
                <div class="text-right">
                    <label for="filtro" class="text-sm font-medium text-gray-700">Buscar</label>
                    <input type="text" id="filtro" placeholder="ingrese nombre del pais"
                        class="text-sm  mb-4 p-1 border rounded" onkeyup="filtrarTabla()">
                </div>
            </div>
        </div>

        <!-- Tabla de Paises -->
        <div class="container table-container overflow-x-auto">
            <table class="table-auto w-full bg-white border border-gray-300 text-sm">
                <thead>
                    <tr class="bg-gray-500 text-white">
                        <th class="border border-gray-300 px-4 py-2">Nombre</th>
                        <th class="border border-gray-300 px-4 py-2">Capital</th>
                        <th class="border border-gray-300 px-4 py-2">Área</th>
                        <th class="border border-gray-300 px-4 py-2">Población</th>
                        <th class="border border-gray-300 px-4 py-2">Acciones</th>
                    </tr>
                </thead>
                <tbody id="tabla-paises">
                    <!-- variable -> countries -->
                    <% if (countries.length > 0) { %>
                        <% countries.forEach(element=> { %>
                            <tr class="country-row cursor-pointer hover:bg-gray-100" data-details='<%= JSON.stringify({
                                nombre: element.name.official,
                                nombreComun: element.name.common,
                                capital: element.capital,
                                region: element.region,
                                subregion: element.subregion,
                                fronteras: element.borders || [],
                                independiente: element.independent,
                                zonaHoraria: element.timezones, 
                                indiceGini: element.gini ? Object.entries(element.gini).map(([year, value]) => ({ year, value })) : [], 
                                creador: element.creador }) %>'>

                                <td class="border px-4 py-2">
                                    <%= element.name.official %>
                                </td>
                                <td class="border px-4 py-2">
                                    <%= element.capital %>
                                </td>
                                <td class="border px-4 py-2">
                                    <%= element.area %> km²
                                </td>
                                
                                <td class="border px-4 py-2"> 
                                    <%= element.population %>
                                </td>
                                </td>
                                <td class="border py-2 text-center">
                                    <div class="flex justify-center items-center space-x-2">
                                        <a href="/api/country/<%= element._id %>" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 edit-button">Editar</a>
                                        
                                        <form action="/api/country/<%= element._id %>?_method=DELETE" method="post">
                                            <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 delete-button">Eliminar</button>
                                        </form>

                                    </div>
                                </td>
                            </tr>

                            <% }) %>
                                
                                <% } else { %>
                                    <tr class="border px-4 py-2">
                                        <td colspan="5" class=" font-semibold px-4 py-4 whitespace-nowrap text-center">
                                            ¡NO HAY PAISES DISPONIBLES!.
                                        </td>
                                    </tr>
                                    <% } %>

                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div id="country-modal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden">
            <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
                <h2 class="text-xl text-center font-bold mb-4">Detalles del País</h2>
                <div id="country-details" class="text-sm">
                    <!-- Contenido dinámico-->
                </div>
                <div class="text-right">
                    <button id="close-modal"
                        class="mt-4 px-4 py-2 bg-red-500 text-white  rounded hover:bg-red-600">Cerrar</button>
                </div>
            </div>
        </div>

    </section>

    <!-- Estadísticas -->
    <section id="estadisticas" class="mt-12">
        <h3 class="text-2xl font-semibold mb-4">Estadísticas</h3>

        <% if (statistics && statistics.paisMenorPoblacion && statistics.paisMayorPoblacion) { %>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                    <div class="p-6 bg-white shadow-lg rounded-lg text-center">
                        <h4 class="text-lg font-semibold">PAÍS CON MENOR Y MAYOR POBLACIÓN</h4>
                        <p class="mt-2 text-blue-800 text-center text-xl"> 
                            <%= statistics.paisMenorPoblacion.name.common %> - <%= statistics.paisMenorPoblacion.population %> / <%= statistics.paisMayorPoblacion.name.common %> - <%= statistics.paisMayorPoblacion.population %> 
                        </p>
                    </div>

                    <div class="p-6 bg-white shadow-md rounded-lg text-center">
                        <h4 class="text-lg font-semibold">POBLACIÓN TOTAL</h4>
                        <p class="mt-2 text-blue-800 text-center text-xl">
                            <%= statistics.poblacionTotal %>
                        </p>
                    </div>

                    <div class="p-6 bg-white shadow-lg rounded-lg text-center">
                        <h4 class="text-lg font-semibold">ÁREA TOTAL</h4>
                        <p class="mt-2 text-blue-800 text-center text-xl">
                            <%= statistics.areaTotal %> km²
                        </p>
                    </div>

                    <div class="p-6 bg-white shadow-lg rounded-lg text-center">
                        <h4 class="text-lg font-semibold">GINI PROMEDIO TOTAL</h4>
                        <p class="mt-2 text-blue-800 text-center text-xl">
                            <%= statistics.indiceIni.toFixed(2) %>
                        </p>
                    </div>
            </div>
            <% } else { %>
                <div class="p-6 bg-white shadow-lg rounded-lg">
                    <h5 class="text-md text-center font-semibold">¡NO HAY ESTADÍSTICAS DISPONIBLES!</h5>
                </div>
                <% } %>
        
    </section>



<script src="/js/filterName.js"></script>
<script src="/js/modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>